*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}
.box1
{
    margin-top: 200px;
}
.career-desc-heading
{
    background-color: #29C886;
    text-align: center;
    padding: 50px ;
    color: white;
    letter-spacing: 1px;
}
.career-desc-heading h2
{
    margin-bottom: 20px;
    font-weight: 500;
}
.career-desc-heading p
{
    font-weight: 200;
}
.heading-desc
{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 200px;
}
.heading-desc-text
{
    width: 25%;
    border: 1px solid #29C886;
    text-align: center;
    padding: 30px 40px;
    /* margin-bottom: 200px; */
}
.heading-desc-text h3
{
    font-weight: 500;
}
.heading-desc-text p
{
    font-size: 13px;
    margin: 20px 0 20px 0;
}
.photo-gallery
{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
 }
 .bottom-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
color: #29C886;
margin-bottom: 150px;
  }
.photo-gallery .img1
{
    width: 40% ;
    padding: 20px;
}
.photo-gallery .img
{
    width: 30% ;
    padding: 20px;
}

.img {
    display: flex;
    flex-direction: column; 
    gap: 10px;
  }
.photo-gallery img
{
    height: 100%;
    width: 100%;
}

.box2
{
    background-color: #29C886;
    text-align: center;
    padding: 100px 50px 200px 50px ;
    color: white; 
}
.career-wrapper h2
{
    font-weight: 500;
    margin-bottom: 10px;
}
.career-wrapper p
{
    font-size: 13px;
}
.profile-desc
{
    width: 40%;
    padding-top: 40px;
    /* margin-top: 100px; */
}
.team-box
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 100px auto auto auto;
    /* border: 1px solid black; */
}
.team-des
{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    width: 50%;
}
.team-profile1 img
{
    height: 70px;
    width: 70px;
    border: 4px solid white;
    border-radius: 50%;
}
.team-text
{
    padding: 20px;
    text-align: left;
}
.profile-desc button
{
    padding:5px  20px;
    margin-right: 10px;
    border: none;
    border-radius: 50px ;
    margin-top: 30px;
    background-color: white;
}
.profile-desc button i
{
    color: #29C886;
}
.form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
   margin: -150px auto 200px auto;
    width: 30%;
    box-shadow: 0 3px 0 rgba(0,0,0,0.1);
}
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container textarea {
    display: inline-block;
    width: 300px; 
    padding: 8px;
    /* box-sizing: border-box; */
    border: none;
    border-bottom: 1px solid #5cb85c;
}
.form-container textarea {
    resize: vertical;
    height: 100px;
}
 button {
    display: inline-block;
    padding: 10px 15px;
    background: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.upload-btn
{
    background-color: rgba(217, 217, 217, 0.5);
    padding: 10px 20px;
    color: black;
    border-radius: 20px;  
}
.upload-btn i
{
    background-color: rgba(216, 243, 220, 0.9);
    padding:10px;
    border-radius: 50%;
    margin-right: 10px;
}

.file-upload-button
{
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    color: black;
}
.apply
{
    border: 1px solid #4cae4c;
    background: transparent;
    color: #4cae4c;
    border-radius: 50px;
    padding: 10px 30px;
    margin: 20px auto auto auto;
}
.file-name {
    font-size: 14px;
    color: black; /* Change this color to your preferred color */
  }
  .loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 2s linear infinite;
    margin-left: 10px; /* Add space between button text and loader */
  }
  .modal-overlay {
    position: fixed;
    top: 20px;
    right: 20px;
    width: auto;
    max-width: 300px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeInOut 3s forwards;
  }
  
  @keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
@media screen and (max-width: 768px) {

.heading-desc-text
{
    width: 50%;
    margin-bottom: 0;
}
.team-des
{
    width: 100%;
    margin-top: 50px;
    /* margin-bottom: 10px; */
}
.profile-desc
{
    width: 100%;
}
.form-container
{
    width: 50%;
}
.photo-gallery .img1
{
    width: 100% ;
}
.photo-gallery .img
{
    width: 50% ;
}
}
@media screen and (max-width: 575px) {
    .team-box
    {
        width: 90%;
    }
    .heading-desc-text
    {
        width: 100%;
        margin-bottom: 0;
    }
    .team-des
    {
        width: 100%;
        margin-top: 50px;
        /* margin-bottom: 10px; */
    }
    .profile-desc
    {
        width: 100%;
    }
    .form-container
    {
        width: 80%;
    }
    .photo-gallery .img1
{
    width: 100% ;
}
.photo-gallery .img
{
    width: 100% ;
}
}


.carrer-container
{
    position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0 ;
}
.card
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4cae4c;
    /* border: 1px solid black; */
    padding: 30px;
}
.team-name
{
    text-align: left;
}
.team-name h3
{
    font-weight: 400;
}
.team-name p
{
    font-size: 12px;
    font-weight: 300;
}
.team-identify
{
    width: 40%;
}
.team-information
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-message
{
    height: 330px;
    width: 60%;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    justify-content: center;
    text-align: center;
    font-weight: 300;
}
.image
{
    width: 55px;
  height: 55px;
  margin-right: 20px;
}

.career-wrapper{
    background-color: #4cae4c;
    color: white;
    text-align: center;
    padding: 100px 0 150px 0 ;
}
.career-box{
    background-color: #4cae4c;
    width: 60%;
    margin: auto;
    padding: 50px 0 180px 0;
}


.navigation-buttons {
    display: flex;
    /* position: absolute; */
    margin-left: 50%;
    /* margin-top: 10px; */
  }
  .navigation-buttons button
  {
    margin-right: 10px;
    border-radius: 60px;
    padding:5px  20px ;
    background-color: white;
  }
  .navigation-buttons button i
  {
    color: #29C886;
  }
  .swiper-button-next-custom,
  .swiper-button-prev-custom {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    user-select: none;
  }
  
  .swiper-button-next-custom:hover,
  .swiper-button-prev-custom:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
