*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hr-bar {
    background: #4b8843;
    color: #4b8843;
    height: 1px;
    width: 50%;
    position: relative;
    position: absolute;
    right: 0;
  }
  .v-bar {
    background: #4b8843;
    color: #4b8843;
    height: 100%;
    left: 50%;
    top: -1px;
    min-height: 100px;
    width: 1px;
    position: relative;
  }
  
  
  .v-bar:after {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background:#4b8843;
    position: absolute;
    bottom: 0;
    left: -2.7px;
  }
  .wrapper
{
  margin: 100px 0;
  /* border: 1px solid black; */
}
.client-container {
  width: 90%;
  padding: 50px 10px;
  display: flex; /* Change from grid to flex */
  justify-content: space-around; /* Align items in a single row */
  align-items: center; /* Center items vertically */
  gap: 30px;
  margin: auto;
  border-radius: 20px;
  background-color: rgba(216, 243, 220, 0.5);
}
  
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #ffffff; */
    /* border: 1px solid black; */
    /* padding: 10px; */
  }
  
  .client-img {
    width: auto; 
    max-height: 80px; 
  }
  @media (max-width: 768px) {
    .client-container {
        grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
        overflow-x: auto; /* Enable horizontal scrolling */
    }
    .client-container img {
    height: 60px;
    width: 60px;
}
   
}
@media (max-width: 500px) {
  .client-container {
      grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
      overflow-x: auto; /* Enable horizontal scrolling */
  }
  .client-container img {
  height: 80px;
  width: 80px;
}
 
}