* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  .footer-wrapper {
    background: linear-gradient(rgba(41, 200, 134, 0.5), rgba(41, 200, 134, 0.5)),
      url("/src/assets/footer.png");
    max-height: 150vh;
    width: 100%;
    background-size: cover;
    opacity: 0.9;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 20px;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }
  .footer-box1 {
    flex-basis: 25%;
    line-height: 20px;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    letter-spacing: 1px;
  }
  .footer-box1 h3 {
    font-size: 1.3rem;
    font-weight: 500;
  }
  .footer-box1 h6 {
    color: #29c886;
    font-weight: 500;
    margin-top: 5px;
  }
  .footer-box1 p {
    margin-top: 15px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.6rem;
    position: relative;
  }
  .footer-box1 p::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: rgb(41, 200, 134);
    position: absolute;
    bottom: -20px;
    left: 7px;
  }
  .footer-box2 {
    flex-basis: 20%;
    padding: 30px;
    color: white;
    font-weight: 100;
    color: white;
    font-weight: 350;
    line-height: 22px;
    font-size: 0.8rem;
  }
  .footer-box2 ul {
    list-style-type: none;
  }
  
  .footer-box3 {
    flex-basis: 45%;
    color: white;
    padding-top: 20px;
    /* background-color: white; */
    font-weight: 450;
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 0.8rem;
    justify-content: space-between;
  }
  .footer-address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 0;
    /* background-color: bisque; */
    position: relative;
  }
  .address-box {
    width: calc(50% - 10px);
    /* background-color: red; */
  }
  .footer-contact {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* background-color:rosybrown; */
  }
  .contact-box {
    width: 50%;
    padding-right: 10px;
  }
  .number {
    text-align: right;
  }
  .footer-box3 p {
    margin-bottom: 10px;
  }
  
  .fv-bar {
    background: rgba(255, 255, 255, 0.5);
    height: 100%;
    left: 48%;
    top: -1px;
    min-height: 50px;
    width: 1px;
    position: absolute;
  }
  .fh-bar {
    background: rgba(255, 255, 255, 0.5);
    top: 100%;
    color: red;
    height: 1px;
    width: 100%;
    position: absolute;
  }
  .social {
    /* background-color: rgb(131, 125, 136); */
    margin-top: 40px;
    padding: 10px;
  }
  .social i {
    background-color: rgba(216, 243, 220, 0.3);
    color: #29c886;
    padding: 7px;
    font-size: 10px;
    margin-right: 15px;
    border-radius: 50px;
  }
  @media only screen and (max-width: 1200px) {
    .footer-box1 {
      padding:30px  10px;
    }

  }

  @media only screen and (max-width: 990px) {
      .footer-box1 {
          flex-basis: 60%;
          margin: auto;
          font-size: 0.5rem;
          line-height: 10px;
        }
        .footer-box2 {
          flex-basis: 20%;
          margin: auto;
          font-size: 0.5rem;
          line-height: 15px;
        }
      .footer-box3 {
          flex-basis: 50%;
          margin: auto;
          font-size: 0.5rem;
          line-height: 10px;
        }
  }
  @media only screen and (max-width: 575px) {
    .footer-container {
      padding: 20px 0;
    }
  
    .footer-box1 {
      flex-basis: 80%;
      margin: auto;
      padding: 20px;
    }
  
    .footer-box1 h3 {
      font-size: 0.8rem;
      margin-bottom: 10px;
    }
  
    .footer-box1 h6 {
      font-size: 0.6rem;
      margin-top: 0;
    }
  
    .footer-box1 p {
      line-height: 10px;
      font-size: 0.4rem;
      margin-top: 5px;
    }
  
    .footer-box2 {
      flex-basis: 70%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .footer-nav-right {
      width: 50%;
    }
    .footer-nav-left {
      width: 50%;
    }
  
    .social i {
      font-size: 10px;
      padding: 5px;
    }
    .footer-box3 {
      flex-basis: 90%;
      margin: auto;
      font-size: 0.5rem;
      line-height: 10px;
    }
    .contact-box {
      padding-right: 10px;
    }
  }